*{
    margin:0px;
}
.container
{
    height:500px;
    background-color: #f2f4f7;
}

.logo
{
    float:left;
    height:100%;
    margin-left:30px;
    width:55%;
    border:1px solid yellow;
}
.logo .content{
    width:99%;
    margin-top:100px;
   
    border:1px solid red;
}
.logo .content img{
    height:90px;
    width:320px;
}
.logo .content h2
{
    margin-left:50px;
    font-weight: 400;
    font: size 28px;
    line-height:32px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
.loginform
{
   float:right;
   height:100%;
   width:40%;
   margin-right:10px;
   border:1px solid yellow;
}
.login{
    width:250px;
    margin-top:60px;
    margin-left:50px;
    padding: 5px;
    height:250px;
    background-color: white;

}
.login p{
    line-height: 40px;
    
}
.login input[type="text"]
{
    width:230px;
    height:25px;
    border-radius: 1px;
}
.btnlogin
{
    width:230px;
    height: 30px;;
    background-color: blue;
    color:white;
    border-radius: 5px;
}
.btnaccount
{
    width:180px;
    height: 30px;;
    background-color: green;
    color:white;
    margin-left:30px;
    border-radius: 5px;
}

.login a
{
    margin-left:50px;
    font-size: 12px;
    color:blue;
   
}
.footer
{
    height:100px;
    background-color: #ffffff;
}